@page
@model IndexModel
@{
    
}

<div class="text-center">
    <h1 class="display-4">Hello There</h1>
    <p>Would you care for a dad joke?</p>
    <button type="button" id="getDadJoke">*groan*</button>
    <div><p id="currentDadJoke"></p></div>
</div>
